In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv("/content/Students_Performance.csv")

In [ ]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

# Number of males and females participated in the test

In [ ]:
gender_counts = data['gender'].value_counts()

In [ ]:
print("Number of males:", gender_counts['male'])
print("Number of females:", gender_counts['female'])

Number of males: 482
Number of females: 518

# students parental level of education

In [ ]:
parental_education_counts = data['parental level of education'].value_counts()

In [ ]:
print("Parental Level of Education:")
print(parental_education_counts)

Parental Level of Education:
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

# scores the most on average for math, reading and writing based on Gender

In [ ]:
numeric_columns = ['math score', 'reading score', 'writing score']

In [ ]:
Gender_scores_avg = data.groupby('gender')[numeric_columns].mean()

In [ ]:
print("Average Scores by Gender:")
print(Gender_scores_avg)

Average Scores by Gender:
        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

# scores the most on average for math, reading and writing based on Test preparation course

In [ ]:
test_prep_scores_avg = data.groupby('test preparation course')[numeric_columns].mean()

In [ ]:
print("\nAverage Scores by Test Preparation Course:")
print(test_prep_scores_avg)

Average Scores by Test Preparation Course:
                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

# scoring variation for math, reading and writing based on Gender

In [ ]:
numeric_columns = ['math score', 'reading score', 'writing score']

In [ ]:
gender_scores_std = data.groupby('gender')[numeric_columns].std()

In [ ]:
print("Standard Deviation of Scores by Gender:")
print(gender_scores_std)

Standard Deviation of Scores by Gender:
        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

# scoring variation for math, reading and writing based on Test preparation course

In [ ]:
test_prep_scores_std = data.groupby('test preparation course')[numeric_columns].std()

In [ ]:
print("\nStandard Deviation of Scores by Test Preparation Course:")
print(test_prep_scores_std)

Standard Deviation of Scores by Test Preparation Course:
                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

#Bonus points for the top 25% of students based on their math score

In [ ]:
top_25_threshold = data['math score'].quantile(0.75)

In [ ]:
top_25_students = data[data['math score'] > top_25_threshold]

In [ ]:
bonus_points = 10

In [ ]:
top_25_students = top_25_students.copy()
top_25_students.loc[:, 'bonus_points'] = bonus_points

In [ ]:
print("Students eligible for bonus points (top 25% in math score):")
print(top_25_students)

Students eligible for bonus points (top 25% in math score):
     gender race/ethnicity parental level of education         lunch  \
430  female        group A                some college      standard
431  female        group B           bachelor's degree  free/reduced
432  female        group D           bachelor's degree      standard
433  female        group D                 high school      standard
434  female        group D           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score  \
430               completed          78             87             91
431                    none          78             79             76
432                    none          78             82             79
433                    none          78             81             80
434                    none          78             90             93
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

     bonus_points
430            10
431            10
432            10
433            10
434            10
..            ...
995            10
996            10
997            10
998            10
999            10

[231 rows x 9 columns]

# Case Study on Testing of Hypothesis

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_rel
from scipy.stats import chi2_contingency

In [ ]:
data=pd.read_csv("/Sales_add.csv")

In [ ]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

# whether there is any increase in sales after stepping into digital marketing

In [ ]:
sales_before = data['Sales_before_digital_add(in $)']
sales_after = data['Sales_After_digital_add(in $)']

In [ ]:
t_statistic, p_value = ttest_rel(sales_before, sales_after)

In [ ]:
print("Paired t-test results:")
print("t-statistic:", t_statistic)
print("p-value:", p_value)

Paired t-test results:
t-statistic: -12.09070525287017
p-value: 6.336667004575778e-11

In [ ]:
if p_value < 0.05:
    print("Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.")
else:
    print("Fail to reject the null hypothesis. There is no significant increase in sales after implementing digital marketing.")

Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.

# whether there is any dependency between the features “Region” and “Manager”

In [ ]:
contingency_table = pd.crosstab(data['Region'], data['Manager'])

In [ ]:
chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)

In [ ]:
print("\nChi-square test results:")
print("Chi-square statistic:", chi2_stat)
print("p-value:", p_value)

Chi-square test results:
Chi-square statistic: 3.050566893424036
p-value: 0.5493991051158094

In [ ]:
if p_value < 0.05:
    print("Reject the null hypothesis. There is a dependency between Region and Manager.")
else:
    print("Fail to reject the null hypothesis. There is no dependency between Region and Manager.")

Fail to reject the null hypothesis. There is no dependency between Region and Manager.